{{!-- <div>
    <h2>{{restaurant.name}}</h2>
    <img class="item-img" src="{{restaurant.image}}"/>
    <br>
    <br>
<div>
    <button><a class="btn" href="/restaurants">See Restaurant List</a></button>
</div>
     <div id='menu'></div>
	<ul id='list'></ul>
	<script src="/scripts.js"></script>

</div> --}}
<div>
	<h2>{{restaurant.name}}</h2>
	<img class="item-img" src="{{restaurant.image}}" />
	<div>
		<button id='details-btn'>Show Other Restaurants</button>
		<button id='menu-btn'>Show Menu</button>
	</div>
	<div id='menu'></div>
	<ul id='list'></ul>
	<script src="/scripts.js"></script>
</div>
